apiVersion: v1
kind: Secret
metadata:
  name: conecta-secrets
  namespace: conecta-prod
type: Opaque
data:
  # IMPORTANTE: Valores devem estar em Base64
  # Para codificar: echo -n "seu-valor" | base64
  # Para decodificar: echo "valor-base64" | base64 -d
  
  APP_ACESS_TOKEN: # Token de acesso codificado em base64
  APP_ID: # ID da aplicação codificado em base64
  APP_SECRET: # Secret da aplicação codificado em base64
  SECRET_KEY: # Django SECRET_KEY codificado em base64

  AWS_ACCESS_KEY_ID: # AWS Access Key codificado em base64
  AWS_SECRET_ACCESS_KEY: # AWS Secret Key codificado em base64

  EMAIL_HOST_PASSWORD: # Senha de email codificado em base64
  EMAIL_HOST_USER: # Usuário de email codificado em base64
  EMAIL_NAME: # Nome do remetente codificado em base64

  HOST_POSTGRES: # Host do PostgreSQL codificado em base64
  PASSWORD_POSTGRES: # Senha do PostgreSQL codificado em base64
  PORT_POSTGRES: # Porta do PostgreSQL codificado em base64
  USER_POSTGRES: # Usuário do PostgreSQL codificado em base64
  DATABASE_POSTGRES: # Nome do database codificado em base64
